{
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Grafana
grafana.vpn {
    tls internal
    reverse_proxy 10.0.0.30:3000
}

# Pi-hole
pihole.vpn {
    tls internal
    reverse_proxy 10.0.0.53:80
}

# Prometheus
prometheus.vpn {
    tls internal
    reverse_proxy 10.0.0.90:9090
}